.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rproj.user
.Rhistory
.RData
.Ruserdata
Raster/raster_huelva.tif
Raster/tercero.tif
*.tif
.Rproj.user
.Rhistory
.RData
.Ruserdata
Raster/raster_huelva.tif
Raster/tercero.tif
*.tif
